.card-body {
    margin-top: 3em;
}

.from-group {
    margin-top: 2em;
}

#title {
    width: 100%;
    text-align: center;
}

#inputs{
    margin-top: 3em;
    width: 100%;
    text-align: center;
}

#buttons {
    margin-top: 2em;
}